
form {
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
}

form input:required {
    border: 1px solid red;
}

form fieldset {
    background-color: rgb(194, 190, 190);
    padding: 1rem;
}

form fieldset:hover {
    background-color: grey;
}

fieldset:nth-child(1) {
    border-bottom:5px solid black;
}

fieldset:nth-last-child(2) {
    border-bottom:5px solid black;
}

button {
    background-color: black;
    color: white;
    border: none;
}