/* Primer UL */
.lista li:last-child {
    background-color: #0000ff;
}

.lista li:nth-child(odd) {
    text-decoration: underline;
    text-decoration-color: green;
}

.lista li {
    display: inline;
    padding-right: 10px;
}

.lista li:lang(en) {
    font-size: 200%;
    text-transform: uppercase;
}

.lista li:after {
    content: '\2764';
}

/* Segundo UL */
#provincias li {
    list-style-type: upper-roman;
}

#provincias li:nth-child(2) {
    list-style-type:initial;
}