body {
    background-color: #f2a54a;
    color: white;
    text-align: center;
}

h1 {
    font-size: 80px;
}

main {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 12px;
    background-repeat: no-repeat;
  }

.perfil {
    /* border: 1px solid black; */
    box-shadow: 0 0 5px black;
    background-color: white;
    color: black;
    max-width: 240px;
    margin: 30px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    transition: all 1s ease-in-out 0s;
}

.accesos-directos {
    margin:20px auto;

}

.descripcion {
    box-sizing: border-box;
    background-color: #7000ff;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

i {
    background-color: white;
    color: gray; 
}

.perfil:hover{
    transform:scale(1.2) ;

}

.perfil, header {
    animation-name: slide;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes slide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}