@import 'normalize.css';

header {
    box-sizing: border-box;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;    
}

h1, h2 {  
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 
{
    font-size: 50px;
}

h2 {
    font-size: 38px;
}

h3 {
    color: gray;
    font-size: 34px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
p {
    font-size: 20px;
}

#p-header {
    margin-left: 20px;
    margin-right: 100px;
}

main {
    padding-left: 200px;
    padding-right: 280px;
}

article {
    display: flex;
    flex-direction: row-reverse;
}

article p {
    margin: inherit;
    margin-top: 10px;
}

img {
    width: 250px;
    height: 260px;
    padding-left: 15px;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    background-color: #6f6f6f;
}

button {
    background-color: black;
    color: white;
    margin-bottom: 10px;
    width: 80px;
}

@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #p-header {
        margin-left: 25px;
        margin-right: 25px;
    }
    article {
        flex-direction: column;
    }
    main {
        padding-left: 20px;
        padding-right: 20px;
    }

    h3 {
        margin-bottom: 20px;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        height: auto;
    }
}